header, footer, h2 {
    text-align: center;
}

.title {
    font-family: 'Brush Script MT', cursive; 
    margin: auto; 
    font-size: 4em;
}

.category {
    color: #B83C08;
}

.slogan {
    font-style: italic;
}

.description {
    font-style: italic;
}

body {
    font-size: 1em;
    font-family: 'Georgia', serif; 
    margin: auto;
    background-color: antiquewhite;
    color: black;
}

div {
    margin: 0.625em;
    padding: 1.25em;
}

.menu-border {
    max-width: 60%; /* Change width to maximum */
    width: auto; /* Make width responsive */
    padding: 0.625em;
    border: 0.3125em solid #B83C08;
    word-wrap: normal;
    text-align: left;
    margin: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5em, 1fr)); /* Responsive grid layout */
    gap: 1em; /* Add gap between grid items */
}

.grid-item {
    position: relative;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

span {
    margin-top: 0.5em; /* Add space between elements */
}

img {
    max-width: 100%; /* Make images responsive */
    height: auto;
}

.price {
    font-weight: bold; /* Make price bold */
}

@media screen and (max-width: 768px) {
    .menu-border {
        max-width: 80%; /* Adjust maximum width for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 2em; /* Adjust font size for smaller screens */
    }
    /* Add any other specific styles for mobile devices */
}
